<!---start-content---->
<div class="content">
	<div class="wrap">
	<div class="single-page">
		<div class="single-page-artical">
			<div class="artical-content">
				<h3><a href="#">{{Message}} 
				incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p> <p class="para1">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p> <p class="para2">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p> 
				</div>
				<div class="artical-links">
				<ul>
					<li><a href="#"><img src="images/blog-icon2.png" title="Admin"><span>admin</span></a></li>
					<li><a href="#"><img src="images/blog-icon3.png" title="Comments"><span>No comments</span></a></li>
					<li><a href="#"><img src="images/blog-icon4.png" title="Lables"><span>View posts</span></a></li>
				</ul>
			 </div>
			 <div class="share-artical">
				<ul>
					<li><a href="#"><img src="images/facebooks.png" title="facebook">Facebook</a></li>
					<li><a href="#"><img src="images/twiter.png" title="Twitter">Twiiter</a></li>
					<li><a href="#"><img src="images/google+.png" title="google+">Google+</a></li>
					<li><a href="#"><img src="images/rss.png" title="rss">Rss</a></li>
				</ul>
			 </div>
			 <div class="clear"> </div>
		</div>
		
	</div>
  </div>
</div>